@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';
@import 'libs';
@import 'mixin';

.header {
  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 58px 0 58px 4px;

    @include mq('tablet-2') {
      padding: 20px 5px 20px 1px;
      margin-bottom: 10px;
    }

    @include mq('tablet') {
      padding: 9px 5px 9px 1px;
      margin-bottom: 10px;
    }

    @include mq('phone') {
      padding: 9px 5px 25px 1px;
      margin-bottom: 15px;
    }
  }
}

.menu {
  display: flex;
  margin: 0 50px 0 auto;

  @include mq('tablet-2') {
    display: none;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }

  &__link {
    font-size: 18px;
    color: $default;
  }

}

.user-nav {
  display: flex;

  @include mq('tablet-2') {
    margin: 0 6px 0 auto;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 11px;
    }
  }

  &__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 0;
    background-color: transparent;
    border-radius: 5px;

    span {
      transition: color 0.7s, background-color 0.7s;
    }

    svg {
      width: 20px;
      height: 20px;
      fill: none;
      stroke: $title;
      stroke-width: 1.5;
    }

    svg {
      transition: stroke 0.7s;
    }

    &:hover {
      background-color: $accent;
      box-shadow: none;

      svg {
        stroke: $white;
      }

      span {
        background-color: $white;
        color: $accent;
      }
    }

    &:active {
      background-color: #FFF2ED;

      svg {
        stroke: $title;
      }
    }
  }

  &__num {
    position: absolute;
    right: 5px;
    top: 7px;
    width: 14px;
    height: 14px;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
    border-radius: 50%;
    color: $white;
    background-color: $accent;
  }
}

.hero {

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq('tablet') {
      position: relative;
      justify-content: flex-start;
    }

  }

  &__content {
    max-width: 450px;

    @include mq('tablet-2') {
      max-width: 345px;
    }

    @include mq('tablet') {
      z-index: 2;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 66px;
    line-height: 1.3;
    text-transform: uppercase;
    color: $title;
    margin-bottom: 20px;
    @include line-clamp(2);

    @include mq('desktop') {
      font-size: 60px;
    }

    @include mq('tablet-2') {
      font-size: 45px;
    }

    @include mq('phone') {
      font-size: 40px;
      max-width: 260px;
    }
  }

  &__item {
    color: $accent;
  }

  &__text p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    @include line-clamp(3);

    @include mq('phone') {
      font-size: 16px;
    }
  }

  &__btn {
    margin-right: 32px;

    @include mq('phone') {
      margin-right: 25px;
      padding: 8px 27px;
      font-size: 14px;
    }
  }

  &__more {

    @include mq('phone') {
      font-size: 16px;
    }
  }

  &__img {
    max-width: 560px;
    height: 660px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    @include mq('desktop') {
      max-width: 509px;
      height: 600px;
    }

    @include mq('tablet-2') {
      max-width: 360px;
      height: 424px;
    }

    @include mq('tablet') {
      position: absolute;
      z-index: 1;
      right: 0;
      opacity: 0.2;
    }

    @include mq('phone') {
      max-width: 250px;
      height: 300px;
    }

  }
}

.popular {
  text-align: center;
  padding-top: 66px;

  &__title {
    margin-bottom: 60px;

    @include mq('tablet') {
      margin-bottom: 30px;
    }
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    margin-bottom: 60px;

    @include mq('desktop') {
      grid-template-columns: repeat(4, 1fr);
    }

    @include mq('tablet-2') {
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: 30px;
    }

    @include mq('tablet') {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mq('phone') {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 10px;
      grid-column-gap: 5px;

    }
  }
}

.filter-product {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;

  @include mq('tablet') {
    margin-right: -15px;
    padding-right: 15px;
  }

  @include mq('tablet-2') {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  @include mq('tablet') {
    flex-wrap: nowrap;
    margin-bottom: 8px;
    padding-top: 2px;
  }

  &__item {
    margin-bottom: 20px;

    &:not(:last-child) {
      margin-right: 20px;
    }

    @include mq('tablet-2') {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 13px 32px;
    font-size: 20px;
    line-height: 1.3;
    color: $title;
    background-color: $white;
    box-shadow: 0 0 0 1px $silver;
    border-radius: 5px;
    white-space: nowrap;

    @include mq('phone') {
      font-size: 14px;
      padding: 10px 17px;
    }

    svg {
      width: 44px;
      height: 44px;
      margin-right: 5px;
      fill: $title;
      transition: fill 0.5s;
      flex-shrink: 0;

      @include mq('phone') {
        width: 20px;
        height: 20px;
      }
    }

    &:hover {
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: 0 0 0 2px $box-shadow;
      color: $accent;

      svg {
        fill: $accent;
      }
    }

    &:focus {
      background-color: $white;
      box-shadow: 0 0 0 2px $box-shadow;
    }

    &:active {
      color: $title;
      background-color: $white;
      box-shadow: inset 0 -5px 12px rgba(255, 104, 56, 0.2);

      svg {
        fill: $title;
      }
    }
  }

  .mixitup-control-active {
    box-shadow: none;
    color: $white;
    background-color: $accent;

    svg {
      fill: $white;
    }
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 210px;
  height: 100%;
  margin: auto;
  padding: 20px 15px;
  background-color: $white;
  box-shadow: 0 0 0 1px $silver;
  border-radius: 5px;

  @include mq('tablet-2') {
    max-width: 100%;
  }

  img {
    object-fit: contain;
  }

  &:hover {
    box-shadow: 0 0 0 1px $box-shadow;
  }

  &__img {
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: 400;
    min-height: 45px;
    color: $default;
    @include line-clamp(2);
  }

  &__price {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.2;
    color: $title;
  }

  &__btn {
    padding: 7px 16px;
    border-radius: 5px;
    font-size: 14px;
  }
}

.stay-home {
  padding-top: 120px;

  @include mq('phone') {
    padding-top: 65px;
  }

  &__title {
    margin-bottom: 28px;
    @include line-clamp(2);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;

    @include mq('tablet-2') {
      position: relative;
      padding: 0;
    }
  }

  &__img {
    max-width: 440px;
    width: 100%;
    height: 585px;
    background-repeat: no-repeat;
    background-size: cover;

    @include mq('tablet-2') {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.2;
    }

    @include mq('phone') {
      max-width: 348px;
      height: 462px;
    }
  }

  &__content {
    max-width: 470px;

    @include mq('tablet-2') {
      z-index: 2;
    }
  }

  &__text p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    @include line-clamp(4);

    @include mq('tablet-2') {
      margin-bottom: 32px;
    }

    @include mq('phone') {
      max-width: 345px;
      font-size: 16px;
    }
  }

  &__list {
    margin-bottom: 30px;

    @include mq('tablet') {
      margin-bottom: 18px;
    }
  }

  &__info {
    padding-left: 64px;
    font-size: 24px;
    line-height: 1.5;
    background-repeat: no-repeat;
    background-size: 34px;
    @include line-clamp(2);

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @include mq('phone') {
      padding: 4px 0 4px 46px;
      font-size: 18px;

      &:not(:last-child) {
        margin-bottom: 14px;
      }
    }

    &--clock {
      background-image: url('../images/decor/clock.svg');
      background-position: left center;
      background-size: 34px 34px;
    }

    &--delivery {
      background-image: url('../images/decor/delivery.svg');
      background-position: left center;
      background-size: 34px 34px;
    }

    &--resturent {
      background-image: url('../images/decor/resturent.svg');
      background-position: left center;
      background-size: 34px 34px;
    }
  }

  &__btn {
    @include mq('phone') {
      letter-spacing: 0.03em;
      font-size: 14px;
    }
  }
}

.top-restaurants {

  @include mq('tablet') {
    padding-top: 65px;
  }

  &__title {
    text-align: center;

    @include mq('tablet') {
      margin-bottom: 30px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    @include mq('tablet-2') {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 20px;
      grid-column-gap: 15px;
    }

    @include mq('phone') {
      grid-template-columns: repeat(1, 1fr);
      display: none;
    }
  }

  &__slider {
    display: none;

    @include mq('phone') {
      display: block;
    }

    .slick-list {
      margin-bottom: 22px;
    }

    .slick-dots {
      display: flex;
      justify-content: center;

      li {
        padding-bottom: 3px;

        &:not(:last-child) {
          margin-right: 15px;
        }

        button {
          font-size: 0;
          background-color: $gray;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          transition: background-color 0.5s, box-shadow 0.5s;

          &:hover {
            background-color: #FFF2ED;
            box-shadow: 0 0 0 2px $box-shadow;
          }

          &:focus {
            background: $gray;
            box-shadow: 0 0 0 2px $accent;
          }

          &:active {
            box-shadow: none;
            background-color: #FFAE94;
          }
        }

        &.slick-active {

          button {
            background-color: $accent;

            &:focus {
              background-color: $gray;
            }
          }
        }
      }
    }
  }
}

.restaurants-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 370px;
  margin: auto;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s;

  img {
    object-fit: cover;
  }

  &:hover {
    box-shadow: 0 3px 15px rgba(255, 104, 56, 0.5);
  }

  &__img {
    border-radius: 10px 10px 0 0;
    margin-bottom: 15px;
  }

  &__title {
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 400;
    @include line-clamp(2);
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px;
  }

  &__period {
    display: inline-block;
    padding-left: 32px;
    font-size: 18px;
    font-weight: 300;
    background-image: url('../images/decor/timer.svg');
    background-repeat: no-repeat;
    background-size: 22px;
  }

  &__btn {
    padding: 5px 32px;
    border-radius: 20px;

    svg {
      width: 14px;
      height: 13px;
      margin-bottom: -2px;
      fill: $white;
      transition: fill 0.5s, transform 0.5s;
    }

    &:hover {
      svg {
        transform: translateX(20px);
      }

      svg {
        fill: $accent;
      }
    }

    &:focus {
      border-radius: 20px;

      svg {
        fill: $accent;
      }
    }

    &:active {
      border-radius: 20px;
    }
  }
}

.slider-reviews {
  position: relative;

  &__title {
    text-align: center;

    @include mq('phone') {
      margin-bottom: 27px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
    padding: 0 90px;

    @include mq('tablet') {
      padding: 0 15px;
    }

    @include mq('phone') {
      margin-bottom: 0;
      padding: 0;
      flex-direction: column;
    }
  }

  &__img {
    margin-right: 40px;
    border-radius: 50%;
    object-fit: cover;

    @include mq('tablet-2') {
      width: 150px;
      height: 150px;
    }

    @include mq('phone') {
      width: 100px;
      height: 100px;
      margin-right: 0;
      margin-bottom: 29px;
    }
  }

  &__blockquote {
    max-width: 650px;
    padding: 0 40px;
  }

  &__text p {
    position: relative;
    font-family: 'Rubik-Italic';
    max-width: 570px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.5;

    &::before,
    &::after {
      position: absolute;
      content: '';
      background-image: url('../images/decor/quotes.svg');
      background-repeat: no-repeat;
      width: 24px;
      height: 20px;
    }

    &::before {
      top: 0;
      left: -40px;

      @include mq('phone') {
        top: -8px;
        left: -33px;
      }
    }

    &::after {
      transform: scaleX(-1);
      right: -40px;
      bottom: 0;

      @include mq('phone') {
        right: -35px;
        bottom: 10px;
      }
    }

    @include mq('tablet') {
      font-size: 14px;
    }

    @include mq('phone') {
      margin-bottom: 21px;
    }
  }

  &__client {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.3;
    color: $accent;
    @include line-clamp(1);

    @include mq('phone') {
      margin-bottom: 9px;
      font-size: 16px;
    }
  }

  &__rank {
    font-size: 14px;
    line-height: 130%;
    @include line-clamp(1);
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq('phone') {
      position: absolute;
      top: 148px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__dots {
    display: inline-block;
    margin: 0 20px;

    @include mq('phone') {
      margin: 0 100px;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;


    li {
      padding-bottom: 3px;

      &:not(:last-child) {
        margin-right: 15px;
      }

      button {
        font-size: 0;
        background-color: $gray;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        transition: background-color 0.5s, box-shadow 0.5s;

        &:hover {
          background-color: #FFF2ED;
          box-shadow: 0 0 0 2px $box-shadow;
        }

        &:focus {
          background: $gray;
          box-shadow: 0 0 0 2px $accent;
        }

        &:active {
          box-shadow: none;
          background-color: #FFAE94;
        }
      }

      &.slick-active {

        button {
          background-color: $accent;

          &:focus {
            background-color: $gray;
          }
        }
      }
    }
  }

  .slick-arrow {
    font-size: 0;

    svg path,
    circle {
      transition: fill 0.5s, stroke 0.5s;
    }

    &:hover {
      border-radius: 50%;
      background-color: #FFF2ED;

      svg path {
        fill: $accent;
      }

      svg circle {
        stroke: $accent;
      }
    }

    &:focus {

      border-radius: 50%;
      box-shadow: 0 0 0 2px $box-shadow;
    }

    &:active {
      background-color: #FFF2ED;
      box-shadow: none;

      svg circle {
        stroke: #FFF2ED;
      }

      svg path {
        fill: $accent;
      }
    }
  }
}

.apps {

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @include line-clamp(2);

    @include mq('phone') {
      margin-bottom: 14px;
    }
  }

  &__text p {
    margin-bottom: 33px;
    font-size: 20px;
    line-height: 1.5;
    @include line-clamp(4);

    @include mq('phone') {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }

  &__content {
    max-width: 500px;
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__img {
    max-width: 570px;
    width: 100%;
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;

    @include mq('tablet') {
      display: none;
    }
  }
}

.footer {

  &__top {
    display: flex;
    padding-bottom: 60px;

    @include mq('tablet-2') {
      flex-direction: column-reverse;
      padding-bottom: 27px;
    }

    @include mq('tablet') {
      flex-direction: column;
      padding-bottom: 27px;
    }
  }

  &__wrapper {
    display: flex;

    @include mq('tablet') {
      flex-direction: column-reverse;
    }
  }

  &__content {
    margin-right: 70px;

    @include mq('phone') {
      margin-right: 0;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 30px;
  }

  .logo__img {
    @include mq('phone') {
      width: 200px;
      height: 39px;
    }
  }

  &__list {
    margin-right: 57px;
    column-count: 3;

    @include mq('tablet') {
      margin: 0 0 20px 0;
    }

    @include mq('phone') {
      margin: 0;
      margin-right: 0;
      column-count: 1;
    }
  }

  &__item {
    font-size: 18px;
    margin-bottom: 20px;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    border-top: 1px solid $gray;

    @include mq('phone') {
      padding: 20px 0;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1;
  }
}

.form {

  @include mq('tablet') {
    margin-bottom: 30px;
  }

  &__input {
    display: block;
    max-width: 200px;
    width: 100%;
    margin-bottom: 10px;
    padding: 13px 15px;
    background-color: $white;
    border: 1px solid $gray;
    border-radius: 5px;

    &::placeholder {
      transition: color 0.7s;
    }

    &:hover::placeholder {
      color: $black;
    }

    &:focus {
      box-shadow: 0 0 0 2px $box-shadow;
      border-radius: 5px;
    }
  }

  &__btn {
    display: flex;
    max-width: 200px;
    width: 100%;
    padding: 13px 40px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    border-radius: 5px;

    svg {
      width: 17px;
      height: 16px;
      margin-right: 15px;
      fill: $white;
    }

    svg {
      transition: fill 0.5s;
    }

    &:hover {
      svg {
        fill: $accent;
      }
    }

    &:focus {
      svg {
        fill: $accent;
      }
    }
  }
}

.contacts {

  @include mq('tablet') {
    margin-bottom: 30px;
  }

  &__list {
    margin-bottom: 15px;
  }

  &__item {
    padding-left: 30px;
    font-size: 16px;
    line-height: 2;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px 24px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &--location {
      background-image: url('../images/decor/location.svg')
    }

    &--phone {
      background-image: url('../images/decor/calling.svg')
    }

    &--message {
      background-image: url('../images/decor/message.svg')
    }
  }

  &__link {
    padding: 10px 0;
  }
}

.networks {
  display: flex;

  &__social {
    display: flex;

    &:not(:last-child) {
      margin: 0 13px 0 0;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 39px;
    background-color: $silver;
    border-radius: 50%;
    transition: background-color 0.5s;

    svg {
      width: 21px;
      height: 21px;
      fill: $default;
      transition: fill 0.5s;
    }

    &:hover {
      background-color: $accent;

      svg {
        fill: $white;
      }
    }

    &:focus {
      background-color: #FFF2ED;
      box-shadow: 0 0 0 2px $box-shadow;

      svg {
        fill: $default;
      }
    }

    &:active {
      background-color: #FFF2ED;
      box-shadow: none;

      svg {
        fill: $accent;
      }
    }
  }
}

.catalog-nav {
  margin-bottom: 58px;
  background: rgba(255, 122, 80, 0.1);

  &__list {
    display: flex;
    padding: 24px 0;
  }

  &__item {
    font-size: 14px;
    line-height: 1.2;
    color: #505050;

    &:not(:first-child) {
      position: relative;
      margin-left: 6px;
      padding-left: 12px;
    }

    &:not(:first-child)::before {
      content: '';
      position: absolute;
      top: 3px;
      left: 0;
      width: 6px;
      height: 10px;
      background-image: url('../images/decor/chevron.svg');
      background-repeat: no-repeat;
    }
  }
}

.catalog {

  &__header {
    margin-bottom: 60px;
  }

  &__inner {
    display: flex;

    .popular__menu {
      text-align: center;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 11px;
    }
  }
}

.filter-aside {
  max-width: 271px;
  width: 100%;
  margin-right: 30px;

  &__criteria {
    margin-bottom: 28px;
    background: $white;
    border: 1px solid $silver;
    box-sizing: border-box;
    border-radius: 5px;
  }

  &__title {
    margin-bottom: 0;
    padding: 15px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    border-bottom: 1px solid $silver;
  }

  &__list {
    padding: 25px 15px;
  }

  &__item {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__label {
    padding-left: 36px;
    letter-spacing: 0.03em;

    &:hover+.filter-aside__style {
      border-color: $accent;
      color: $accent;
    }
  }

  &__style {
    position: absolute;
    margin-left: -36px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid $silver;
    background-color: #FAEDED;
  }

  &__сheckbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:focus+.filter-aside__style {
      border-color: $accent;
    }

    &:checked+.filter-aside__style::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 9px;
      background-image: url('../images/decor/сheck.svg');
    }

    &:checked+.filter-aside__style {
      border-color: $title;
    }
  }

  .irs {
    max-width: 240px;
    margin: 0 auto;

    .irs-min,
    .irs-max,
    .irs-from,
    .irs-to,
    .irs-single {
      display: none;
    }

    .irs-bar,
    .irs-line {
      height: 2px;
    }

    .irs-bar {
      background-color: $accent;
    }

    .irs-handle i:first-child {
      top: -5px;
      width: 18px;
      border-radius: 50%;
      background-color: $accent;
    }



  }
}

.filter-price {

  &__inner {
    padding: 24px 15px;
  }

  &__label {
    font-size: 16px;
    line-height: 1.2;
    color: $gray;

    &:not(:last-child) {
      margin-right: 18px;
    }
  }

  &__num {
    max-width: 72px;
    width: 100%;
    height: 41px;
    margin-right: 3px;
    text-align: center;
    background-color: #FAEDED;
    border: transparent;
    border-radius: 3px;

    &::placeholder {
      text-align: center;
      color: $default
    }

    &:focus::placeholder {
      color: transparent
    }
  }
}

.stoke {

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

}