<section class="apps section">
  <div class="container">
    <div class="apps__wrapper">
      <div class="apps__content">
        <h2 class="apps__title title">
          Скачайте мобильное приложение
        </h2>

        <div class="apps__text">
          <p>
            Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом
            удобном месте.
          </p>
        </div>

        <ul class="apps__list">
          <li class="apps__item">
            <a class="apps__link" href="#" target="_blank">
              <img class="apps__icon" src="images/decor/app_store.svg" width="129" height="40"
                alt="Скачать из App Store">
            </a>
          </li>

          <li class="apps__item">
            <a class="apps__link" href="#" target="_blank">
              <img class="apps__icon" src="images/decor/google_play.svg" width="135" height="40"
                alt="Скачать из Google Play">
            </a>
          </li>
        </ul>
      </div>

      <div class="apps__img" style="background-image: url('images/decor/app_img.jpg')">
      </div>

    </div>
  </div>
</section>