<footer class="footer section">
  <div class="container">
    <div class="footer__top">
      <div class="footer__content">

        <a class="logo footer__logo" href="#">
          <img class="logo__img" src="images/logo.svg" width="200" height="39" alt="Логотип компании">
        </a>

        <form class="form">
          <label class="form__label" for="email"></label>
          <input class="form__input" type="email" id="email" name="Почта" placeholder="Ваш email" required>

          <button class="form__btn button" type="submit">
            <svg>
              <use xlink:href="images/sprite.svg#icon-subscribe"></use>
            </svg>
            Подписаться</button>
        </form>
      </div>

      <div class="footer__wrapper">

        <ul class="footer__list">

          <li class="footer__item">
            <a class="footer__link animation" href="#">Как это работает</a>
          </li>

          <li class="footer__item">
            <a class="footer__link animation" href="#">Продукты</a>
          </li>

          <li class="footer__item">
            <a class="footer__link animation" href="#">Блюда</a>
          </li>

          <li class="footer__item">
            <a class="footer__link animation" href="#">Меню</a>
          </li>

          <li class="footer__item">
            <a class="footer__link animation" href="#">О нас</a>
          </li>

          <li class="footer__item">
            <a class="footer__link animation" href="#">Новости</a>
          </li>

          <li class="footer__item">
            <a class="footer__link animation" href="#">Партнеры</a>
          </li>

          <li class="footer__item">
            <a class="footer__link animation" href="#">ЧаВо</a>
          </li>

          <li class="footer__item">
            <a class="footer__link animation" href="#">Скачать приложение</a>
          </li>

          <li class="footer__item">
            <a class="footer__link animation" href="#">Блог</a>
          </li>

          <li class="footer__item">
            <a class="footer__link animation" href="#">Что нового?</a>
          </li>

          <li class="footer__item">
            <a class="footer__link animation" href="#">Карта сайта</a>
          </li>
        </ul>

        <address class="contacts">
          <ul class="contacts__list">

            <li class="contacts__item contacts__item--location">
              <a class="contacts__link animation" href="#">ул. Смирнова 2/3</a>
            </li>

            <li class="contacts__item contacts__item--phone">
              <a class="contacts__link animation" href="tel:+79068057043">79068057043</a>
            </li>

            <li class="contacts__item contacts__item--message">
              <a class="contacts__link animation" href="mailto:support@sfood.com">support@sfood.com</a>
            </li>
          </ul>

          <ul class="networks">

            <li class="networks__social">
              <a class="networks__link" href="#">
                <span class="sr-only">Мы в фейсбук</span>
                <svg class="networks__icon">
                  <use xlink:href="images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>

            <li class="networks__social">
              <a class="networks__link" href="#">
                <span class="sr-only">Мы в твиттер</span>
                <svg class="networks__icon">
                  <use xlink:href="images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>

            <li class="networks__social">
              <a class="networks__link" href="#">
                <span class="sr-only">Мы в инстаграм</span>
                <svg class="networks__icon">
                  <use xlink:href="images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <span class="footer__text">© 2021 Simple Food</span>
  </div>
</footer>