<div class="wrapper">
  <header class="header">
    <div class="container">
      <nav class="header__menu">

        <a class="logo" href="#">
          <img class="logo__img" src="images/logo.svg" width="200" height="39" alt="Логотип компании">
        </a>

        <ul class="menu">

          <li class="menu__item">
            <a class="menu__link animation" href="index.html">Главная</a>
          </li>

          <li class="menu__item">
            <a class="menu__link animation" href="catalog.html">Блюда</a>
          </li>

          <li class="menu__item">
            <a class="menu__link animation" href="#">Контакты</a>
          </li>
        </ul>

        <ul class="user-nav">

          <li class="user-nav__item">
            <button class="user-nav__btn button" type="button">
              <svg>
                <use xlink:href="images/sprite.svg#icon-search"></use>
              </svg>
            </button>
          </li>

          <li class="user-nav__item">
            <button class="user-nav__btn button" type="button">
              <span class="sr-only">Добавлено в корзину</span>
              <svg>
                <use xlink:href="images/sprite.svg#icon-cart"></use>
              </svg>
              <span class="user-nav__num">4</span>
            </button>
          </li>
        </ul>

        <button class="burger" type="button" aria-label="Мобильное меню">
          <span class="burger__line"></span>
        </button>

      </nav>

      <div class="overlay">
        <div class="side-nav">
          <div class="side-nav__inner">

            <a class="logo" href="#">
              <img class="logo__img" src="images/logo.svg" width="200" height="39" alt="Логотип компании">
            </a>

            <button class="burger close" type="button" aria-label="Мобильное меню">
              <span class="burger__line"></span>
            </button>

          </div>

          <ul class="menu">

            <li class="menu__item">
              <a class="menu__link animation" href="#">Главная</a>
            </li>

            <li class="menu__item">
              <a class="menu__link animation" href="#">Блюда</a>
            </li>

            <li class="menu__item">
              <a class="menu__link animation" href="#">Контакты</a>
            </li>

          </ul>

          <address class="contacts">
            <ul class="contacts__list">

              <li class="contacts__item contacts__item--location">
                <a class="contacts__link animation" href="#">ул. Смирнова 2/3</a>
              </li>

              <li class="contacts__item contacts__item--phone">
                <a class="contacts__link animation" href="tel:+79068057043">79068057043</a>
              </li>

              <li class="contacts__item contacts__item--message">
                <a class="contacts__link animation" href="mailto:support@sfood.com">support@sfood.com</a>
              </li>
            </ul>

            <ul class="networks">

              <li class="networks__social">
                <a class="networks__link" href="#">
                  <span class="sr-only">Мы в фейсбук</span>
                  <svg class="networks__icon">
                    <use xlink:href="images/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>

              <li class="networks__social">
                <a class="networks__link" href="#">
                  <span class="sr-only">Мы в твиттер</span>
                  <svg class="networks__icon">
                    <use xlink:href="images/sprite.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>

              <li class="networks__social">
                <a class="networks__link" href="#">
                  <span class="sr-only">Мы в инстаграм</span>
                  <svg class="networks__icon">
                    <use xlink:href="images/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>

            </ul>
          </address>
        </div>
      </div>
    </div>
  </header>