<ul class="popular__menu">
  <li class="popular__item mix category-burgers">
    <article class="product-card">
      <img class="product-card__img" src="images/catalog/chessburger.png" width="140" height="140"
        alt="Фото чизбургера с листьями салата">

      <h3 class="product-card__title">
        Чизбургер с листьями салата
      </h3>
      <span class="product-card__price">160
        <span class="product-card__currency">руб.</span>
      </span>

      <button class="product-card__btn button" type="button">В корзину</button>
    </article>
  </li>

  <li class="popular__item mix category-burgers">
    <article class="product-card ">
      <img class="product-card__img" src="images/catalog/bifburger.png" width="140" height="140" alt="Фото бифбургер">

      <h3 class="product-card__title">
        Бифбургер
      </h3>
      <span class="product-card__price">190
        <span class="product-card__currency">руб.</span>
      </span>

      <button class="product-card__btn button" type="button">В корзину</button>
    </article>
  </li>

  <li class="popular__item mix category-burgers">
    <article class="product-card">
      <img class="product-card__img" src="images/catalog/cheeseking.png" width="140" height="140"
        alt="Фото королевского чизбургера">

      <h3 class="product-card__title">
        Королевский чизбургер
      </h3>
      <span class="product-card__price">260
        <span class="product-card__currency">руб.</span>
      </span>

      <button class="product-card__btn button" type="button">В корзину</button>
    </article>
  </li>

  <li class="popular__item mix category-burgers">
    <article class="product-card">
      <img class="product-card__img" src="images/catalog/blackgumburg.png" width="140" height="140"
        alt="Фото черного гамбургера">

      <h3 class="product-card__title">
        Черный гамбургер
      </h3>
      <span class="product-card__price">199
        <span class="product-card__currency">руб.</span>
      </span>

      <button class="product-card__btn button" type="button">В корзину</button>
    </article>
  </li>

  <li class="popular__item mix category-burgers">
    <article class="product-card">
      <img class="product-card__img" src="images/catalog/chickenburger.png" width="140" height="140"
        alt="Фото чикен бургера">

      <h3 class="product-card__title">
        Чикен бургер
      </h3>
      <span class="product-card__price">180
        <span class="product-card__currency">руб.</span>
      </span>

      <button class="product-card__btn button" type="button">В корзину</button>
    </article>
  </li>

  <li class="popular__item mix category-burgers">
    <article class="product-card">
      <img class="product-card__img" src="images/catalog/chessburger.png" width="140" height="140"
        alt="Фото чизбургера с листьями салата">

      <h3 class="product-card__title">
        Чизбургер с листьями салата
      </h3>
      <span class="product-card__price">160
        <span class="product-card__currency">руб.</span>
      </span>

      <button class="product-card__btn button" type="button">В корзину</button>
    </article>
  </li>

  <li class="popular__item mix category-burgers">
    <article class="product-card">
      <img class="product-card__img" src="images/catalog/bifburger.png" width="140" height="140" alt="Фото бифбургер">

      <h3 class="product-card__title">
        Бифбургер
      </h3>
      <span class="product-card__price">190
        <span class="product-card__currency">руб.</span>
      </span>

      <button class="product-card__btn button" type="button">В корзину</button>
    </article>
  </li>

  <li class="popular__item mix category-burgers">
    <article class="product-card">
      <img class="product-card__img" src="images/catalog/cheeseking.png" width="140" height="140"
        alt="Фото королевского чизбургера">

      <h3 class="product-card__title">
        Королевский чизбургер
      </h3>
      <span class="product-card__price">260
        <span class="product-card__currency">руб.</span>
      </span>

      <button class="product-card__btn button" type="button">В корзину</button>
    </article>
  </li>

  <li class="popular__item mix category-pizza">
    <article class="product-card">
      <img class="product-card__img" src="images/catalog/blackgumburg.png" width="140" height="140"
        alt="Фото черного гамбургера">

      <h3 class="product-card__title">
        Черный гамбургер
      </h3>
      <span class="product-card__price">199
        <span class="product-card__currency">руб.</span>
      </span>

      <button class="product-card__btn button" type="button">В корзину</button>
    </article>
  </li>

  <li class="popular__item mix category-pizza">
    <article class="product-card">
      <img class="product-card__img" src="images/catalog/chickenburger.png" width="140" height="140"
        alt="Фото чикен бургера">

      <h3 class="product-card__title">
        Чикен бургер
      </h3>
      <span class="product-card__price">180
        <span class="product-card__currency">руб.</span>
      </span>

      <button class="product-card__btn button" type="button">В корзину</button>
    </article>
  </li>
</ul>

<button class="popular-products__btn btn-more animation" type="button">Показать еще</button>